config.json
Start.bat
node_modules
StartDebug.bat
commands/CivRandomizer/Imgs/Players/*
commands/CivRandomizer/CurrentState.json
old
commands/f.js
logs/*
**secret**
blameStats.json
ratE.log
ratO.log
.v1
.vscode
.env